<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime maxRequestLength="10240"/><!-- Specify in KB (CR5) -->
        <pages>
          <controls>
            <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
          </controls>
        </pages>
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" protection="All" name=".SaleLeadManagement" timeout="60" cookieless="UseDeviceProfile" defaultUrl="SLM_SCR_003.aspx" slidingExpiration="true" enableCrossAppRedirects="false" requireSSL="false"/>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
    <location path="Styles">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="Images">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="Scripts">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="Notice">  <!-- CR5 -->
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <appSettings>
      <add key="LoginDomain" value="mt"/>
      <add key="GridviewPageSize" value="10"/>
      <add key="GridviewPageSizeMonitoring" value="60"/>
      <add key="log4net.Config" value="Log.config" />
      <add key="SlmRuleServiceUrl" value="http://10.3.112.46:8080/SlmRuleWs/SlmRuleService" />
      <add key="SaleToolUrl" value="http://slmappp01b/SaleToolkit/" />
      <add key="UseWebservice" value="false" />
      <add key="SLMDBName" value="SLMDB"/>
      <add key="CMTUserName"  value="CMT"/>
      <add key="CMTPassword"  value="CMT"/>
      <add key="CMTServiceName"  value="CMT"/>
      <add key="CMTSystemCode"  value="CMT"/>
      <add key="CMTReferenceNo"  value="2014022500001"/>
      <add key="CMTCampaignNo"  value="10"/>
      <add key="CMTCampaignNoHistory" value="10"/>
      <!-- New Config CR3 -->
      <add key="AdamlUrl" value="http://10.192.1.197/index.php?r=webservices/load" />
      <add key="EmailTemplatePath" value="D:\\EmailTemplate.txt" />
      <add key="TextMaxLength" value="4000" />
      <add key="DisplayCampaignDescMaxLength" value="100" />
      <!-- COC (CR4) -->
      <add key="AolSummaryReportlUrl" value="http://10.3.100.71:8001/hpaolsummaryreport/default.aspx" />
      <!-- CR5 -->
      <add key="MaximumImageUploadSize" value="5242880" /><!-- 5MB -->
      <add key="MaximumFileUploadSize" value="5242880" /><!-- 5MB -->
      <add key="NoticeFolder" value="Notice" />
      <add key="CMTTimeout"  value="10"/><!-- seconds -->
    </appSettings>
  <connectionStrings>
    <!--Internet-->
    <!--<add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devdb.turboz.net;initial catalog=SLMDB;persist security info=True;user id=obtdbadmin;password=#obt.dev2015!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Local-->
    <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SLMDB;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILeadService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICmtService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/saleleadservice/LeadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadService"
        contract="LeadServiceProxy.ILeadService" name="BasicHttpBinding_ILeadService" />
      <endpoint address="http://10.3.112.46/CMTService/CmtService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICmtService"
        contract="CmtServiceProxy.ICmtService" name="BasicHttpBinding_ICmtService" />
    </client>
  </system.serviceModel>
</configuration>
