<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Internet-->
    <!--<add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devdb.turboz.net;initial catalog=SLMDB;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Local-->
    <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SLMDB;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>